services:
  qdrant:
    image: qdrant/qdrant
    restart: always
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - /root/Data/qdrant_storage:/qdrant/storage:z
    environment:
      QDRANT__SERVICE__API_KEY: ${QDRANT__SERVICE__API_KEY}
